################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/AzureDevOps.Web/obj/Debug/netcoreapp2.2
/src/AzureDevOps.Web/bin/*
/src/.vs/*
/src/AzureDevOps.Web/obj/AzureDevOps.Web.csproj.nuget.g.targets
/src/AzureDevOps.Web/obj/AzureDevOps.Web.csproj.nuget.g.props
/src/AzureDevOps.Web/obj/AzureDevOps.Web.csproj.nuget.cache
/.vs/AzureDevOps/v15/Server/sqlite3
